<section th:fragment="home-search" class="ftco-section ftco-no-pt bg-light">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-12	featured-top">
        <div class="d-flex align-items-center justify-content-center">
          <div class="d-flex align-items-center">
            <form action="/cars" method="get" th:object="${filter}" class="request-form ftco-animate bg-primary">
              <div class="form-group">
                <label for="" class="label">Find Vehicle</label>
                <input type="text" class="form-control" th:field="*{vehicle}" placeholder="Search by brand or models" />
              </div>

              <div class="d-flex">
                <div class="form-group mr-2">
                  <label for="" class="label">Pick-up date</label>
                  <input type="text" class="form-control" th:field="*{pickUp}" id="book_pick_date" placeholder="Date" />
                </div>
                <div class="form-group ml-2">
                  <label for="" class="label">Drop-off date</label>
                  <input type="text" class="form-control" th:field="*{dropOff}" id="book_off_date" placeholder="Date" />
                </div>
              </div>
              <div class="form-group">
                <input type="submit" value="Search you vehicle" class="btn btn-secondary py-3 px-4" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>