<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">LUX<span>RENTAL</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li th:class="'nav-item ' + ${menu == 'home' ? 'active' : ''}" class="nav-item active"><a href="/" class="nav-link">Home</a></li>
        <li th:class="'nav-item ' + ${menu == 'about' ? 'active' : ''}"><a href="/about" class="nav-link">About</a></li>
        <li th:class="'nav-item ' + ${menu == 'cars' ? 'active' : ''}"><a href="/cars" class="nav-link">Cars</a></li>
        <li th:class="'nav-item ' + ${menu == 'contact' ? 'active' : ''}"><a href="/contact" class="nav-link">Contact</a></li>
        <li th:class="'nav-item ' + ${menu == 'detail' ? 'active' : ''}"><a href="/cars/detail" class="nav-link">Details</a></li>
      </ul>
    </div>
  </div>
</nav>