<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/base-layout}"
>
<head>
    <title>Vehicles Page</title>
</head>
<body>

<div layout:fragment="content">
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <h1 class="mb-3 bread">Search Your Car</h1>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="fragments/cars/car-list-search :: car-list-search"></div>
    <div th:replace="fragments/cars/car-list :: car-list"></div>
</div>

</body>
</html>
