<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<div th:replace="fragments/head :: head"></div>
<body>
  <nav th:replace="fragments/navigation :: navigation"></nav>
  <div layout:fragment="content"><!-- SITE CONTENT --></div>

  <footer th:replace="fragments/footer :: footer"></footer>
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  <div th:replace="fragments/js :: js"></div>
</body>
</html>